!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title Faster Than Bastelfreak
    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "/ftb/jumbotron-narrow.css", :rel => "stylesheet"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"}
  %body
    .container
      .header.clearfix
        %h3.text-muted
          %a{:href => "https://flipez.de/ftb"}
            faster than bastelfreak
          %span.label.label-danger Beta!
          %a{href: 'https://github.com/Flipez/faster-than-bastelfreak/issues/new'}
            %span.label.label-warning Please send me your feedback!
          %span.label.label-info.pull-right #{tests} tests performed!
      .jumbotron
        %h1
          be faster than bastelfreak
        %p.lead Find out how many times you are faster than bastel!
        %p
          %form{:method => "get", :action => "https://flipez.de/ftb/test"}
            .form-group
              %label{:for => "ftb-url"} URL
              %input#ftb-url.form-control.input-lg.text-center{type: "text", name: "q", value: o_uri, required: true, style: 'width: 40%; margin-left: auto; margin-right: auto;'}
            %button.btn.btn-success.btn-lg{type: "submit", value: "Submit"}
              Compare
              %span.fa.fa-rocket
            %div.checkbox
              %label
                %input{type: :checkbox, name: :force}
                Force realtime benchmark
        %p
          =yield
        %hr
        %p
          %small
            Because bastelfreaks blog is so slow, his response time will be cached ten minutes long.
            %br
            After this time the next request is generating a new response time.
            %br
            This will take up to eight seconds.
        .container.text-muted
          %div.col-md-4
            %h1
              %span.fa.fa-question-circle
            bastelfreaks blog is loading slow, so lets find out how many times your website is faster
          %div.col-md-4
            %h1
              %span.fa.fa-cogs
            This little application is built with ruby, sinatra and redis and delivered by nginx
            %br
            %br
            No webservers are harmed during this test
          %div.col-md-4
            %h1
              %span.fa.fa-github
            You can help improving this application by contributing to the 
            %a{href: "https://github.com/Flipez/faster-than-bastelfreak"}
              %span.label.label-info
                github repository
        %hr
        %p.text-muted
          %small Every test has a time to live of 86400 seconds (24hours) and will be purged from the database after it expires.
        %hr
        %p
          %small.text-muted
            Give it a try and visit
            %a{:href => "https://blog.bastelfreak.de/"} bastelfreaks blog
      %footer.footer
        %p 
          %a{:href => "/"} &copy; flipez.de 2015
