%p
  %div
    .col-md-4
      %ul.list-group
        %a.list-group-item.list-group-item-info{:href => url} #{url}
        %li.list-group-item.list-group-item-success #{opponent} seconds
    .col-md-4
      %ul.list-group
        %li.list-group-item.list-group-item-info #{result} times faster!
    .col-md-4
      %ul.list-group
        %a.list-group-item.list-group-item-info{:href => "https://blog.bastelfreak.de"} https://blog.bastelfreak.de
        %li.list-group-item.list-group-item-danger #{bastel} seconds
