%p
  %div
    .col-md-4
      %ul.list-group
        %a.list-group-item.list-group-item-info{href: m.o_uri} #{m.o_uri}
        %li.list-group-item.list-group-item-success #{m.o_time} seconds
    .col-md-4
      %ul.list-group
        %li.list-group-item.list-group-item-info Reached #{m.result} FTB&#0153;!
        %a.list-group-item.list-group-item-default{href: 'https://flipez.de/ftb'} Back to home
    .col-md-4
      %ul.list-group
        %a.list-group-item.list-group-item-info{href: "https://blog.bastelfreak.de"} https://blog.bastelfreak.de
        %li.list-group-item.list-group-item-danger #{m.b_time} seconds
